@import 'variaveis';
@import 'bootstrap/bootstrap';
@import 'animate';
@import 'mixins';
@import 'slick';

html, body {
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
  font-family: 'Open Sans', sans-serif;
  color: $grey_700;
}

/*.hexagon:before{
  content: "\2B22";
}*/

$hexagon_big: 70px;
$hexagon_small: 50px;
$hexagon_color: $green_1;
$hexagon_hover_color: $green_2;
.hexagon {
  position: relative;
  width: $hexagon_big; 
  height: ($hexagon_big * 0.5774);
  background-color: $hexagon_color;
  margin: ($hexagon_big * 0.2887) 0;
  font-size: ($hexagon_big * 0.5774);
  line-height: ($hexagon_big * 0.5774);
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  &:after,
  &:before{
    content: "";
    position: absolute;
    width: 0;
    border-left: ($hexagon_big / 2) solid transparent;
    border-right: ($hexagon_big / 2) solid transparent;
    left: 0px;
  }
  &:before{
    bottom: 100%;
    border-bottom: ($hexagon_big * 0.2887) solid $hexagon_color;
  }
  &:after{
    top: 100%;
    width: 0;
    border-top: ($hexagon_big * 0.2887) solid $hexagon_color;
  }
}

.hexagon, .hexagon::before, .hexagon:after{
  transition: all .5s ease-in-out;
}

.hexagon:hover{
  background-color: $hexagon_hover_color;
  &:after{
    border-top-color: $hexagon_hover_color;
  }
  &:before{
    border-bottom-color: $hexagon_hover_color;
  }
}

.btn{
  border-radius: 0;
}

section#navbar{ 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 10;
  transition: all .5s ease-in-out;
  .wrapper{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    transition: all .5s ease-in-out;

    .menu{
      ul{
        @extend .list-unstyled;
        margin: 0;
        li {
          display: inline-flex;
          text-transform: uppercase;
          padding: 0 10px;
          a {
            color: darken($grey_300, 20%);
            text-decoration: none;
            transition: color .5s ease;
            &:hover{
              color: $grey_700;
            }
          }
        }
      }
      @include breakpoint(xs){
        position: fixed;
        right: -300px;
        top: 0;
        width: 200px;
        height: 100vh;
        background-color: #fafafa;
        box-shadow: -2px 0px 10px 2px rgba(#333, .1);
        transition: all .5s ease-in-out;
        padding-top: 20px;
        ul{
          display: flex;
          flex-direction: column;
          li{
            display: block;
            padding: 5px 20px;
          }
        }
        &.toggle{
          right: 0;
        }
      }
    }

    .logo{
      width: 50px;
      height: 50px;
      opacity: 0;
      a{
        display: block;
        width: 100%;
        height: 100%;
        background-image: url('../../img/logo-icon.png');
      }
    }

  }


  .menu-toggle{
    position: absolute;
    height: 100%;
    width: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    top: 0;
    right: -50px;
    color: $green_1;
    transition: all .5s ease-in-out;
    @include breakpoint(xs){
      right: 0;
    }
    &.toggle{
      right: 200px;
    }
  }


}

  section#navbar.toggle{
    box-shadow: 0px 0px 10px 5px rgba(#333, .1);
    background-color: $grey_50;
    .wrapper {
      height: 60px;
      .logo{
        opacity: 1;
        animation: fadeInLeft;
      }
    }
  }

section#start{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $grey_50;
  position: relative;
  div.logo{
    width: 256px;
    height: 200px;
    a{
      display: block;
      widows: 100%;
      height: 100%;
      background-image: url('../../img/logo.png');
      background-repeat: no-repeat;
      background-origin: center center;
    }
  }

  div.proximo{
    position: absolute;
    bottom: 50px;
    z-index: 9;
    width: $hexagon_big;
    height: $hexagon_big;
  }

  @include breakpoint(xs){
    div.logo{
      width: 160px;
      a{
        background-size: 80%;
      }
    }
    div.proximo{
      width: $hexagon_small;
      height: $hexagon_small;
      .hexagon {
        width: $hexagon_small; 
        height: ($hexagon_small * 0.5774);
        margin: ($hexagon_small * 0.2887) 0;
        font-size: ($hexagon_small * 0.5774);
        line-height: ($hexagon_small * 0.5774);
        &:after,
        &:before{
          border-left: ($hexagon_small / 2) solid transparent;
          border-right: ($hexagon_small / 2) solid transparent;
        }
        &:before{
          border-bottom: ($hexagon_small * 0.2887) solid $hexagon_color;
        }
        &:after{
          border-top: ($hexagon_small * 0.2887) solid $hexagon_color;
        }
      }

      .hexagon:hover{
        background-color: $hexagon_hover_color;
        &:after{
          border-top-color: $hexagon_hover_color;
        }
        &:before{
          border-bottom-color: $hexagon_hover_color;
        }
      }
    }
    
  } 
}

section#banners{
  #slider-produtos{
    position: relative;
    .slick-slide{
      min-height: 600px;
      background-image: url('../../img/slide.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      font-size: 1.5rem;
      padding: 20px 0;
      @include breakpoint(md){
        padding: 0 0;
      }
      .row{
        min-height: 600px;
      }
      h2{
        text-transform: uppercase;
        color: $green_1;
        font-weight: 700;
      }
    }
    ul.slick-dots{
      @extend .list-unstyled;
      position: absolute;
      bottom: 10px;
      height: 10px;
      left: 0; right: 0;
      display: flex;
      justify-content: center;
      li {
        margin: 0 10px;
        button {
          width: 100px;
          height: 10px;
          font-size: 0;
          border: none;
          border-radius: 0;
          outline: none;
          background-color: $grey_50;
        }
      }
      li.slick-active{
        button {
          background-color: $green_1;
        }
      }
    }
  }
}

.section-title{
  margin-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
}

section#intro{
  overflow: hidden;
  .coluna{
    display: flex;
    align-items: center;
    padding: 50px 20px;
    @include breakpoint(lg){
      padding: 100px;
    }
    font-size: 1.5rem;
    &.coluna-1{ 
      background-color: $grey_50;
      justify-content: flex-end;
      .content{
        @include breakpoint(md){
            max-width: 570px;
        }
      }
    }
    &.coluna-2{ 
      background-color: $green_1; 
      color: $grey_50;
      // box-shadow: 0px 0px 10px 5px rgba(#333, .3);
    }
    &.coluna-3{ 
      background-color: $green_2; 
      // box-shadow: 0px 0px 10px 5px rgba(#333, .5);
      color: $grey-50; 
    }
  }
}

section#depoimentos{
  padding: 100px 0;
  background-color: $grey_50;
  .slick-slide{
    font-size: 1.5rem;
    text-align: center;
    .avatar{
      width: 150px;
      height: 150px;
      overflow: hidden;
      margin: 0 auto 20px auto;
      background-size: cover;
      background-position: center center;
      border-radius: 50%;
      border: 2px solid rgba($grey_300, .5);
    }
    p.depoimento{

    }
    p.nome{
      font-size: 1rem;
    }
  }
}

section#contato{
  .coluna{
    padding: 0;
    min-height: 400px;
    display: flex;
    align-items: center;
  }
  .coluna-1{
    background-color: $grey_200;
    #mapa{
      width: 100%;
      height: 100%;
      min-height: 300px;
      background-color: red;
    }
  }
  .coluna-2{
    background-color: $grey_50;
    color: $grey_50;
    .content{
      padding: 20px;
      width: 100%;
      input{
        line-height: 2rem;
        background-color: rgba($grey_300, .5);
        border: 2px solid rgba($grey_300, .5);
        border-radius: 0;
        // color: $grey_300;
        @include placeholder {
          // color: $grey_300;
        }
      }
    }
  }
  .coluna-3{
    background-color: $green_1;
    color: $grey_50;
    align-items: center;
    .content{
      width: 100%;
      text-align: center;
      font-size: 1.5rem;
    }

  }
  
}

footer{
  padding: 20px 0;
  background-color: #414141;
  color: #999;
  a{
    color: #ccc;
  }
}